body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    color: #333;
}

.centerX{
    text-align: center;
    font-size: 300%;
    padding: 20px;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrer vertikalt */
    align-items: center; /* Centrer horisontalt */
    height: 100%;
    max-width: 400px; /* Sætter en maksimal bredde på formularen */
    margin: 0 auto; /* Centrer formularen horisontalt i midten */
    padding: 20px;
    border: none;
    background-color: #f8f8f8; /* Lys baggrund for formularen */

}

input, select, textarea, button, label {
    font-family: 'Montserrat', sans-serif;
}

.topbar {
    justify-content: space-between; /* Fordeler logo til venstre og menu til højre */
    background-color: #f8f8f8;
    padding: 15px;
    display: flex;
    align-items: center;
}

.topbar .logo img {
    height: 55px;
    width: 210px;
}


/*centrer indhold*/
.container {
    width: 80%;
    margin: 80px;
}


h1, h2, h3 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Gør alle kolonner lige brede */
    margin-top: 20px;

}

th, td {
    text-align: left;
    padding: 10px;
}



/* Links generelt */
a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    position: relative;
}


/* Rød streg under ved hover */
a:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: orangered;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.space a {
    margin-left: 40px; /*mellemrum mellem min profil og log ud*/
}

/*ingen hover understreg under logo*/
.logo a:hover::after {
    content: none;
}


/*create user grid*/
form {
    display: grid;
    grid-template-columns: 1fr 2fr; /* 1 fraktion for label, 2 fraktioner for input */
    grid-gap: 20px; /* Afstand mellem rækker og kolonner */
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Form row styling */
.form-row {
    display: contents; /* Vi bruger grid til at styre layoutet */
}

/* Styling for labels (labels skal være til venstre) */
.form-row label {
    text-align: left;
    margin: 0; /* Fjern margin for label */
}

/* Input felter, select og knapper får automatisk grid layout */
.form-row input,
.form-row select {
    width: 100%; /* Sørg for, at inputfelter fylder den resterende plads */
    padding: 8px;
}

/* Styling for email input felt (kombination af tekst og domæne) */
.email-wrapper {
    display: flex;
    width: 100%; /* Sørg for, at email inputfeltet fylder hele pladsen */
}

.email-wrapper input {
    flex: 1;
    padding-right: 5px;
}

.email-wrapper span {
    padding-left: 5px;
    line-height: 38px;
}

/* Gør hover-effekten */

a:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: orangered;
    position: absolute;
    bottom: -2px;
    left: 0;
}

/* Gør aktiv side (fast rød streg) */

a.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: orangered;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.conform
{
    height: 50%;
}

.container-flex {
    display: flex;
    align-items: flex-start;  /* align toppen af div og tabel */
    gap: 40px; /* afstand mellem venstre links og tabel */
    padding: 20px;
}
