
.btn-link {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: black;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.btn-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: orangered;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
}

.btn-link:hover::after {
    width: 100%;
}

/* edit user button */
.img-edit {
    width: 20px;  /* eller en procent f.eks. 50% */
    height: 20px;  /* automatisk højde, så det ikke bliver forvrænget */
}



