<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medarbejdere</title>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/buttons.css">
    <link rel="stylesheet" href="/grid.css">
</head>
<body>

<div class="topbar">
    <div class="logo">
        <a th:href="@{/admin1}">
            <img src="/images/alpha-planner-logo.png" alt="Alpha Planner Logo">
        </a>
    </div>
</div>
<br>
<br>
<br>
<div class="container-flex">
    <div class="space">
        <a th:href="@{/create}"> + Opret ny </a>
        <a th:href="@{/admin1}" th:classappend="${activePage == 'admin1' } ? 'active' : ''"> Projektledere</a>
        <a th:href="@{/admin2}" th:classappend="${activePage == 'admin2' } ? 'active' : ''"> Medarbejdere </a>
    </div>

    <table>
        <thead>
        <tr>
            <th>Navn</th>
            <th>Email</th>
            <th>Færdigheder</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" employee : ${employees}">
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.email}"></td>
            <td>
                <ul>
                    <li th:each="skill : ${employee.skills}" th:text="${skill}"></li>
                </ul>
            </td>
            <td>
                <a th:href="@{/edit/{userId}(userId=${employee.userId})}">
                    <img class="img-edit" src="/images/edit-button.png" alt="Edit png">
                </a>
            </td>
            <td>
                <form th:action="@{/delete/{userId}(userId=${employee.userId})}" method="post"
                      onsubmit="return confirm('Er du sikker på at du vil slette denne ansatte ');">
                    <button type="submit" class="btn-link"> X</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>