<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/modal.css}" rel="stylesheet">
    <link th:href="@{/base.css}" rel="stylesheet">
    <link th:href="@{/buttons.css}" rel="stylesheet">
</head>
<body>

<div class="topbar">
    <div class="logo">
        <a href="/projects/"><img src="/images/alpha-planner-logo.png" alt="Alpha Planner Logo"></a>
    </div>
    <div class="space">
        <a th:href="@{/profil}">Min Profil</a>
        <a th:href="@{/login}" class="logout-button">Log ud</a>
    </div>
</div>

<a href="javascript:history.back()" class="btn-link">Tilbage</a>


<form action="/tasks/savetask" method="post">
    <input type="hidden" name="subId" th:value="${subId}">

    <div class="form-row">
        <label for="name">Navn </label>
            <input type="text" maxlength="15" name="name" id="name" required placeholder="Maks 15 tegn">
    </div>

    <div class="form-row">
        <label for="desc">Beskrivelse </label>
            <textarea name="desc" id="desc" cols="40" rows="5" placeholder="Skriv beskrivelsen her..."></textarea>
    </div>

    <div class="form-row">
    <label for="deadline">Deadline </label>
        <input type="date" id="deadline" name="deadline">
    </div>

    <div class="form-row">
    <label for="estimatedHours"> Forventede timer </label>
        <input type="number" name="estimatedHours" id="estimatedHours" min="0" step="0.1" required>

    </div>
    <div class="form-row">
    <label>Vælg etiketter </label>
        <div class="checkbox-group">
    <div th:each="label : ${labels}">
            <input type="checkbox"
                   name="labels_id"
                   th:value="${label[0]}">
            <label th:text="${label[1]}"></label>
        </div>
        </div>
    </div>
        <br>
    <div class="form-row">
    <button type="submit" class="btn-link">Opret Opgave</button>
    </div>
</form>


<script>
    // Set default value to today
    const today = new Date().toISOString().split('T')[0];
    document.getElementById('deadline').value = today;
</script>
</body>
</html>