<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/base.css}">
    <link rel="stylesheet" th:href="@{/buttons.css}">
</head>

<body>
<div class="topbar">
    <div class="logo">
        <img src="/images/alpha-planner-logo.png" alt="Alpha Planner Logo">
    </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<p th:if="${wrongInput}" class="error">Forkert brugernavn eller adgangskode</p>

<form class="form"

        action="/"
        method="post"
        th:object="${userLogin}"
>

    <div class="form-row">
        <label for="email">E-mail</label>
        <input id="email" type="email" th:field="*{email}" required />
    </div>
    <div class="form-row">
        <label for="password">Adgangskode</label>
        <input id="password" type="password" th:field="*{password}" required />
    </div>


    <p>
        <button class="btn-link" type="submit">Log ind</button>
    </p>

</form>

</body>
</html>