<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Labels</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link th:href="@{/base.css}" rel="stylesheet">
    <link th:href="@{/buttons.css}" rel="stylesheet">
    <link th:href="@{/modal.css}" rel="stylesheet">
</head>
<body>
<div class="topbar">
    <div class="logo">
        <img src="/images/alpha-planner-logo.png" alt="Alpha Planner Logo">
    </div>
    <div class="space">
        <a th:href="@{/profil}">Min Profil</a>
        <a th:href="@{/login}" class="logout-button">Log ud</a>
    </div>
</div >

<button th:href="@{/subprojects/showsub(subId=${subProject})}" class="btn-link" >Tilbage</button>


<h1>Etiketter: </h1>



<table>
    <thead>
    <tr>
        <th>Navn</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${labels}">
        <td th:text="${entry[1]}">Etikettens navn</td>
        <td>
            <form action="/tasks/deletelabel" method="post">
                <input type="hidden" name="label_id" th:value="${entry[0]}">
                <button class="btn-link">Slet</button>
            </form>
        </td>
    </tr>

    <tr>
        <form action="/tasks/createlabel" method="post">
            <td>
                <strong for="labelName">Opret ny etiket</strong>
            </td>
            <td>
                <input type="text" name="labelName" id="labelName" placeholder="Indtast etiketnavn" required>
            </td>
            <td>
                <button class="btn-link">Gem</button>
            </td>
        </form>
    </tr>

    <p th:if="${nameExists}" style="color: red;">
        Etiketten med det navn findes allerede.
    </p>
    </tbody>
</table>

</body>
</html>