<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Labels</title>
    <link th:href="@{/base.css}" rel="stylesheet">
    <link th:href="@{/button.css}" rel="stylesheet">
    <link th:href="@{/modal.css}" rel="stylesheet">
</head>
<body>
<div class="topbar">
    <div class="logo">
        <img src="/images/alpha-planner-logo.png" alt="Alpha Planner Logo">
    </div>
    <div class="space">
        <a th:href="@{/profil}">Min Profil</a>
        <a th:href="@{/login}" class="logout-button">Log ud</a>
    </div>
</div >

<h1>Labels: </h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through the labels and display them in rows -->
    <tr th:each="label : ${labels}">
        <td th:text="${label.labelName}">Label Name</td>
        <td>
            <!-- Delete Button -->
            <form action="/tasks/deleteLabel" method="post">
                <input type="hidden" name="label_id" th:value="${label.labelId}">
                <button type="submit" class="btn-link">Slet</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>