<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ansatte</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/buttons.css">
</head>
<body>

<div class="topbar">
    <div class="logo">
        <a th:href="@{/admin1}">
            <img src="/images/alpha-planner-logo.png" alt="Alpha Planner Logo">
        </a>
    </div>

    <div class="space">
        <a th:href="@{/myProfile}">Min Profil</a>
        <a th:href="@{/}" class="logout-button">Log ud</a>
    </div>
</div>
<h1>Min profil</h1>
<table style="justify-content: center">
    <thead>
    <tr>
        <th>Navn</th>
        <th>Rolle</th>
        <th>Email</th>
        <th>Skills</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${user}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.email}"></td>

        <td>
            <ul>
                <li th:each="skill : ${user.skills}" th:text="${skill}"></li>
            </ul>
        </td>

        <td>
            <a th:href="@{/edit/{userId}(userId=${user.userId})}">
                <img class="img-edit" src="/images/edit-button.png" alt="Edit png" >
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>