<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Min profil</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/buttons.css">
</head>
<body>

<div class="topbar">
    <div th:if="${role}" class="logo">
        <a th:href="@{/admin1}">
            <img src="/images/alpha-planner-logo.png" alt="Alpha Planner Logo">
        </a>
    </div>
    <div th:unless="${role}" class="logo">
        <a th:href="@{/projects}">
            <img src="/images/alpha-planner-logo.png" alt="Alpha Planner Logo">
        </a>
    </div>

    <div class="space">
        <a th:href="@{/myprofile}">Min Profil</a>
        <a th:href="@{/}" class="logout-button">Log ud</a>
    </div>

</div>
<div>
    <a href="javascript:history.back()" class="btn-link">Tilbage</a>
    <h3>Min profil</h3>
</div>




<table style="justify-content: center">
    <thead>
    <tr>
        <th>Navn</th>
        <th>Rolle</th>
        <th>Email</th>
        <th th:if="${!role}">Skills</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${user}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.email}"></td>

        <td th:if="${!role}">
            <ul>
                <li th:each="skill : ${user.skills}" th:text="${skill}"></li>
            </ul>
        </td>


        <td th:if="${role}">
            <a th:href="@{/edit/{userId}(userId=${user.userId})}">
                <img class="img-edit" src="/images/edit-button.png" alt="Edit png" >
            </a>
        </td>
    </tr>


    </tbody>
</table>

</body>
</html>