<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/buttons.css">
</head>
<body>
<div class="topbar">
    <div class="logo">
        <img src="/images/alpha-planner-logo.png" alt="Alpha Planner Logo">
    </div>
<p>profile</p>

</body>
</html>