<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/base.css}"/>
    <link rel="stylesheet" th:href="@{/buttons.css}"/>
    <link rel="stylesheet" th:href="@{/modal.css}"/>
</head>

<body>

<div class="topbar">
    <div class="logo">
        <a href="/projects" >
            <img src="/images/alpha-planner-logo.png" alt="Alpha Planner Logo">
        </a>
    </div>
    <div class="space">
        <a th:href="@{/myprofile}">Min Profil</a>
        <a th:href="@{/logout}" class="logout-button">Log ud</a>
    </div>
</div>
<div class="centerX" th:text="${projectName}"></div>
<div class="space">
    <a href="/projects" class="btn-link">Tilbage</a>
    <a th:href="@{/projects/projectoverview(projectId=${projectId})}">Underprojekter</a>
    <a th:href="@{/projects/projectassignees(projectId=${projectId})}" class="active">Tildelte medarbejdere</a>
</div>
<table>
    <thead>
    <tr>
        <th>Navn</th>
        <th>Rolle</th>
        <th>Email</th>
        <th>Skills</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" employee : ${assignedUsers}">
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.role}"></td>
        <td th:text="${employee.email}"></td>

        <td>
            <ul>
                <li th:each="skill : ${employee.skills}" th:text="${skill}"></li>
            </ul>
        </td>
        <td>
            <form th:action="@{/projects/unassignemployee}" method="post"
                  onsubmit="return confirm('Er du sikker på du vil fjerne denne ansatte fra projektet');">
                <input type="hidden" name="employeeId" th:value="${employee.userId}">
                <button type="submit" style="color: indianred; background:none; border:none; cursor:pointer;" th:if="${role}">X</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form action="/projects/assignemployee" method="post" th:if="${role} and ${!isEmpty}">
                <label for="finalUserId">Vælg medarbejder
                </label>
                <br>
                <select  name="employeeId" id="finalUserId">
                    <option th:each="employee : ${availableUsers}" th:value="${employee.userId}"
                            th:text="${employee.name}"></option>
                </select>
                <br>
                <button type="submit">Tildel medarbejder</button>
            </form>
            <div th:if="${isEmpty}">Ingen tilgængelige medarbejdere til at tildele</div>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>