<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/base.css}"/>
    <link rel="stylesheet" th:href="@{/buttons.css}"/>
    <link rel="stylesheet" th:href="@{/modal.css}"/>
</head>

<body>

<div class="topbar">
    <div class="logo">
        <img src="/images/alpha-planner-logo.png" alt="Alpha Planner Logo">
    </div>
    <div class="space">
        <a th:href="@{/myProfile}">Min Profil</a>
        <a th:href="@{/logout}" class="logout-button">Log ud</a>
    </div>
</div>
<div class="centerX" th:text="${projectName}"></div>
<div class="space">
    <a href="/projects" class="btn-link">Tilbage</a>
    <a th:href="@{/projects/projectOverview(projectId=${projectId})}">Underprojekter</a>
    <a th:href="@{/projects/projectAssignees(projectId=${projectId})}" class="active">Arbejdere</a>
</div>
<table>
    <thead>
    <tr>
        <th>Navn</th>
        <th>Rolle</th>
        <th>Email</th>
        <th>Skills</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" employee : ${assignedUsers}">
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.role}"></td>
        <td th:text="${employee.email}"></td>

        <td>
            <ul>
                <li th:each="skill : ${employee.skills}" th:text="${skill}"></li>
            </ul>
        </td>
        <td>
            <form th:action="@{/projects/unAssignEmployee}" th:object="${newJunction}" method="post"
                  onsubmit="return confirm('Er du sikker på du vil fjerne denne ansatte fra projektet');">
                <label hidden="">
                    <input th:field="${newJunction.userId}" th:value="${employee.userId}"/>
                </label>
                <button type="submit" class="btn-link"> X</button>


            </form>
        </td>

    </tr>
    <tr>
        <td>
            <form th:action="@{/projects/assignEmployee}" method="post" th:object="${newJunction}">
                <label>Tilføj arbejder
                    <input list="availableEmployees" name="chosenEmployee" th:field="${newJunction.userId}">
                </label>
                <datalist id="availableEmployees">
                    <option th:each="employee : ${availableUsers}" th:value="${employee.userId}" th:text="${employee.name}"></option>
                </datalist>
                <br>
                <button type="submit">Tilføj</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>